.banner {
  outline: 2px solid red;

  padding: 30px 20px;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 65px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 50%;
    transform: translateX(-$content-width--desktop / 2);
    width: 570px;
    padding: 70px 77px 60px 77px;
  }

  &--theme-catalog {
    background: $gray-base;

    @media (min-width: $desktop-width) {
      background: #ffffff;
    }
  }
}

.banner__wrap {
  outline: 2px solid coral;

  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.banner__title {
  outline: 2px dotted blue;

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.banner__text {
  outline: 2px dotted blue;

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}
