.card {
  position: relative;
  margin-right: 3px;
  margin-bottom: -1px;
  margin-left: 3px;
  padding: 20px 17px 23px 17px;
  list-style: none;
  border: 1px solid $gray-base;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-top: 135px;
    margin-bottom: 5px;
    padding-top: 160px;
    padding-left: 38px;
    padding-bottom: 40px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 12px;
  }

  /*добавляем "+" псевдоэлементом*/
  &--last {
    padding-top: 80px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 160px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background: darken($gray-base, 12%);

      @media (min-width: $tablet-width) {
        top: 80px;
        width: 60px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 26px;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 30px;
      background: darken($gray-base, 12%);

      @media (min-width: $tablet-width) {
        top: 51px;
        height: 60px;
      }
    }
  }

  &--second {
    padding: 0 20px 0 20px;
    border: none;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      margin-bottom: -1px;
      padding: 0 37px 28px 37px;
      border: 1px solid darken($gray-base, 15%);
    }

    @media (min-width: $desktop-width) {
      width: 895px;
      padding: 0;
      padding-top: 16px;
      padding-bottom: 15px;
      border-left: none;
      border-right: none;
    }
  }
}

/*нужен для перестройки img/.card__body на mob/tab*/
.card__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 34px;
  }
}

.card__img-wrap {
  /*нужна только для mob*/
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
    display: block;
  }
}

/*обертка для задания border-top и border-bottom для .card--second*/
.card__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid darken($gray-base, 15%);

  &--second {
    padding-top: 15px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 0;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--last {
    margin-bottom: 40px;
    border-bottom: 1px solid darken($gray-base, 15%);

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.card__img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 140px;
  max-height: 144px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -205px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 161px;
    max-height: 172px;
  }

  &--large {
    @media (min-width: $tablet-width) {
      top: -245px;
      max-width: 195px;
      max-height: 208px;
    }
  }
}

.card__body {
  width: 50%;

  @media (min-width: $tablet-width) {
    position: relative;

    display: block;
    width: 100%;
  }

  &--last {
    width: 100%;
    margin-bottom: 22px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 78px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 85px;
    }
  }
}

/*обертка для сетки на $desktop-width, для группировки .card--second*/
/* stylelint-disable-next-line*/
.card__container-second {
  margin: 0;
  padding-left: 0;
}

.card__box-second {
  margin-bottom: 14px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 5px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
    margin-bottom: 0;
    padding: 0;
  }
}

.card__title {
  margin-bottom: 15px;
  line-height: 1.25em;
  color: $gray--darkest;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: $font-size--x-large;
    line-height: 1em;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &--last {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
    }
  }

  &--second {
    margin-bottom: 10px;
    color: $gray--darkenest;

    @media (min-width: $tablet-width) {
      max-width: 370px;
      margin-bottom: 0;
      padding-left: 0;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
    }
  }
}

.card__title-mob {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card__descr {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1px;
  font-family: $font-family-second;
  font-size: $font-size--smaller;
  line-height: 1.33em;
  color: $gray--darken;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: $font-size--larger;
    line-height: 1em;
    border-bottom: 1px solid darken($gray-base, 15%);
  }

  &--last {
    display: block;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-right: 25px;
      padding-left: 25px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--second {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
    }
  }
}

.card__value {
  &--second {
    @media (min-width: $tablet-width) {
      width: 70px;
      margin-left: 25px;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      margin-left: 0;
      text-align: left;
    }
  }
}

.card__buy {
  width: 100%;
  font-size: $font-size--larger;

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &--last {
    color: $gray--darken;
    background: $btn-bg-second;

    &:hover,
    &:focus {
      background: $btn-bg-hover--second;
    }

    &:active {
      color: gray;
    }
  }
}
