.catalog {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding-top: 35px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 55px;
    padding-right: 0;
    padding-left: 0;
  }

  &--second {
    width: 100%;

    @media (min-width: $desktop-width) {
      padding-top: 62px;
    }
  }
}

.catalog__wrap {
  margin: 0;
  margin-top: 5px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    //outline: 3px dotted yellow;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }

  &--second {
    display: block;

    @media (min-width: $tablet-width) {
      margin-top: 55px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      margin-top: 55px;
      margin-bottom: 88px;
      padding: 0;
    }
  }
}
