.catalog {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  &--second {
    width: 100%;
    //overflow: hidden;
  }
}

.catalog__wrap {
  padding-left: 0;

  @media (min-width: $tablet-width) {
    outline: 3px dotted yellow;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }

  &--second {
    display: block;

    @media (min-width: $desktop-width) {
      display: flex;
      margin-bottom: 85px;
      padding: 0;
    }
  }
}

/*нужен для ограничения ширины и позиционирвания слева .caption__title на $width-desktop*/
.caption {
  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}
