.categories {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.categories__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $content-width--desktop;
    margin: 0 auto;
  }
}

.categories__card {
  outline: 1px dotted coral;
  margin-bottom: 20px;
  min-height: 260px;
  background-color: $gray-base;

  @media (min-width: $tablet-width) {
    min-height: 370px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.categories__card svg {
  background: #000000;
}
