.declaration {
  min-height: 60px;
  margin: 0 20px 35px 20px;
  padding: 65px 50px 40px 50px;
  background-color: $color-main;
  background-image: url("../img/bg-declaration-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img//bg-declaration-mob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 75px 0;
    padding: 65px 105px 70px 90px;
    background-image: url("../img/bg-declaration-tab@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-declaration-tab@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 245px;
    margin: 0;
    padding: 65px 35px 40px 35px;
    background-image: url("../img/bg-declaration-desk@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-declaration-desk@2x.jpg");
    }
  }
}

.declaration__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.declaration__text {
  margin: 0 auto;
  font-size: $font-size--larger;
  line-height: 1.25em;
  font-family: $font-family-second;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin: 0;
    padding-top: 5px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    text-align: center;
  }
}
