.field-checkbox {
  outline: 1px dotted coral;

  margin-bottom: 17px;
  padding: 20px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 24px;
    padding-top: 32px;
    padding-right: 25px;
    padding-bottom: 0;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding: 0;
    padding-top: 30px;
  }
}

.field-checkbox__input-wrap {
  outline: 1px dotted red;

  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: auto;
    }
  }
}

.field-checkbox__name-text {
  font-size: $font-size--larger;
  text-transform: uppercase;
  color: $gray--darkenest;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
    line-height: 1em;
  }
}

/*===стилизация чек-бокс===*/
.field-сheckbox__input {
  /*прячем стандартный чек-бокс без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-сheckbox__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;

  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
  }
}

.field-checkbox__name-text::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $input-border-base;

  background: #ffffff;

  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.field-checkbox__name-text:hover::before {
  border-color: $input-border-hover;
}

.field-checkbox__name-text:active::before {
  border-color: $input-border-active;
}

/*переключение состояния чек-бокса*/
.field-сheckbox__input:checked ~ .field-checkbox__name-text::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat center;

  position: absolute;
  top: 7px;
  left: 4px;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 10px;
  }
}

.field-сheckbox__input:checked ~ .field-сheckbox__name-text:active::after {
  /*radio button down*/
  opacity: 0.3;
}

.field-сheckbox__input:checked ~ .field-сheckbox__name-text:active {
  /*radio button down*/
  opacity: 0.3;
}
