.field-radio {
  margin-bottom: 25px;
  padding: 20px 20px 20px 20px;

  border: 1px solid $input-border-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding: 25px;
  }
}

.field-radio__input-wrap:not(:last-child) {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.field-radio__name-text {
  font-size: $font-size--larger;
  line-height: 1em;
  text-transform: uppercase;
  color: $gray--darkenest;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
  }
}

/*===стилизация radio===*/
.field-radio__input {
  /*прячем стандартный radio без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-radio__label {
  /*подготовка места для кастом-radio = стилизация label*/

  position: relative;
  display: block;
  padding: 8px 0 8px 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 55px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  &:hover .field-radio__name-text::before {
    border-color: $input-border-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.field-radio__name-text::before {
  /*стилизация фона radio*/
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $input-border-base;
  border-radius: 50%;
  background: #ffffff;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

/*переключение состояния radio*/
.field-radio__input:checked ~ .field-radio__name-text::after {
  /*стилизация активного radio*/
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-main;
  position: absolute;
  top: 11px;
  left: 9px;

  @media (min-width: $tablet-width) {
    left: 11px;
    top: 10px;
    width: 18px;
    height: 18px;
  }
}
