.field-actions {
  outline: 2px dotted coral;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  &--btn {
    @media (min-width: $tablet-width) {
      width: 282px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }
}

.field-actions__text {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 282px;
  }
}
