.form {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: $content-width--tablet;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desktop;
  }
}

.form__subtitle {
  padding-left: 20px;
  padding-right: 20px;
}

.form__field-wrap {
  outline: 3px solid black;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
