.links {
  outline: 1px dotted green;

  &:active {
    opacity: 0.3;
  }
}

.links__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.links__academy-title {
  margin-right: 23px;
  font-family: $font-family-second;
  font-size: $font-size--larger;
  line-height: 1em;
  color: $gray--darken;
}

.links__academy-logo {
  display: block;
  fill: $gray--darken;

  &:hover {
    fill: $color-main;
  }
}
