.main-nav {
  outline: 2px dotted red;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main-nav__inner {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 16px 20px;
  border-bottom: 1px solid $input-border-base;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.main-nav__inner-logo-img {
  @media (min-width: $tablet-width) {
    display: none;
  }

  &--tab {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desk {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__inner-logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  outline: 1px dotted green;
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 520px;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
  }

  &--js {
    @media (max-width: $tablet-width - 1) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
    }
  }

  &--show {
    @media (max-width: $tablet-width - 1) {
      max-height: 400px;
      overflow: hidden;
      transition: max-height $transition-time--show * 2;
    }
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-left: 36px;
  }
}

.main-nav__link {
  outline: 1px dotted green;

  position: relative;
  display: block;
  padding: 24px 20px 24px 20px;

  font-size: $font-size--x-large;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  color: $gray--darkest;

  border-bottom: 1px solid $input-border-base;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
    font-size: $font-size--large;
    font-weight: 400;
    color: $gray--darkenest;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--x-large;
  }

  &:hover,
  &:focus {
    color: darken(#ffffff, 25%);
  }

  &:active {
    color: darken(#ffffff, 35%);
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }

  &--active {
    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-main;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        background-color: #ffffff;
      }
    }
  }
}
