.page-footer {
  padding: 40px 20px 20px 20px;
  background: $gray-base;

  @media (min-width: $tablet-width) {
    padding: 58px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 110px 55px 110px;
  }
}

.page-footer__wrap {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
