.page-header {
  position: relative;
  z-index: 10;
}

.page-header__wrap {
  @media (min-width: $tablet-width) {
    width: $content-width--tablet;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desktop;
    margin: 0 auto;
  }
}
