.social {
  outline: 1px dotted green;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  padding-top: 18px;
  padding-bottom: 18px;

  list-style: none;

  border-top: 1px solid darken($gray--dark, 8%);
  border-bottom: 1px solid darken($gray--dark, 8%);

  @media (min-width: $tablet-width) {
    margin-right: -30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    border-top: none;
    border-bottom: none;
  }
}

.social__link-wrap {
  margin-right: 25px;

  background-color: coral;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: darken($gray-base, 55%);

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }

  &:hover {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  display: block;
  padding: 5px;

  &--vk svg {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }
}
