.social {
  outline: 1px dotted green;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  list-style: none;

  border-top: 1px solid darken($gray--dark, 8%);
  border-bottom: 1px solid darken($gray--dark, 8%);

  @media (min-width: $tablet-width) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

.social__link-wrap {
  margin-right: 10px;
  background-color: coral;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  padding: 5px;
}

.social svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: #ffffff;
  background: #000000;
}
