//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Oswald", "Arial", sans-serif;
$font-family-second: "Arial", sans-serif;

$font-size-h1: 36px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 16px;

$font-size--giant: 281px;
$font-size--xl-large: 24px;
$font-size--x-large: 20px;
$font-size--large: 18px;
$font-size--larger: 16px;
$font-size: 14px;
$font-size--smaller: 12px;

$line-height-large: 1.6667em;
$line-height: 1.2857em;
$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================

$color-main: #68b738;
$color-main--dark: #5eaa2f;

$color-map: #fdf7f1;

$gray-base: #f2f2f2;
$gray--dark: #ededed;
$gray--darken: #444444;
$gray--darker-10: rgba(50, 56, 63, 0.1);
$gray--darker: #333333;
$gray--darkenest: #222222;
$gray--darkest: #111111;

$text-color: #333333; // Global text color on <body>;

//=============================
//===Components===
//=============================
$content-width--desktop: 1220px;
$content-width--tablet: 708px;
$content-width--mob: 280px;
//=============================
//===Logo====
//=============================
$logo-color: $gray--darkest;
$logo-color-text: $gray--darken;
$logo-color--hover: #414141;
$logo-color--hover-text: #696969;
$logo-color--down: #707070;
$logo-color--down-text: #8f8f8f;

//=============================
//===Links====
//=============================
$link-color: #000000;
$link-color--hover: #000000;
$link-color--down: rgba(0, 0, 0, 0.3);

//=============================
//===Buttons===
//=============================

$btn-padding-vertical: 12px;
$btn-padding-horizontal: 12px;

$btn-color: #ffffff;
$btn-color--second: #333333;
$btn-color-hover: #ffffff;
$btn-color-down: rgba(255, 255, 255, 0.3);

$btn-color--second: #333333;
$btn-color-hover--second: #333333;
$btn-color-down--second: rgba(51, 51, 51, 0.3);

$btn-bg: $color-main;
$btn-bg-hover: $color-main--dark;

$btn-bg-second: #f2f2f2;
$btn-bg-hover--second: #ebebeb;
$btn-bg-down--second: #ebebeb;

$btn-border-color-base: #bebebe;
$btn-border-color-hover: #989898;

//=============================
//===Input===
//=============================
$input-border-base: #e6e6e6;
$input-border-hover: #cdcdcd;
$input-border-focus: #444444;
$input-border-error: #ff8282;
$input-border-active: #ebebeb; //radio button down

$radio-active: #d1e9c3; //radio button down

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 768px;
$desktop-width: 1300px;

//=============================
//===Retina queries breakpoints===
//=============================
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time: 0.2s;
$transition-time--show: 0.3s;
$transition-time-opacity: 0.4s;
