 {
  font-family: Oswald;
  font-size: 281px;
  font-size: 60px;
  font-size: 36px; /*h1*/
  font-size: 24px; /*h2 + --xl-large*/
  font-size: 20px; /**/
  font-size: 18px;
  font-size: 16px; /*--larger*/
  font-size: 14px; /*content*/

  font-family: Arial;
  font-size: 16px;
  font-size: 14px;
  font-size: 12px;
}
